.donation-summary {
	dt {
		float: left;
		margin-right: .5em;
		font-weight: bold;
	}

	dd {
		display: block;
		margin-bottom: 0;
	}

	dd::after {
		content: " ";
		display: block;
		clear: left;
	}
}

.charitable-table {
	text-align: left;
	vertical-align: top;

	tbody tr {
		overflow: hidden;
		td {
			vertical-align: top;
			.small {
				font-size: .85em;
			}
			.actions {
				padding: 0.25em 0;
			}
		}
		&:nth-child(2n+1) {
			background: #f4f4f4;
		}
	}

	@include bp( 768, false ) {
		&.charitable-responsive-table {
			border: none !important;

			thead {
				display: none;
			}

			tr {
				display: block;
				padding: 1em 0;
				margin-bottom: 1em;

				td {
					display: block;
					padding: .25em 0.5em !important;
					border: none !important;
					line-height: 1.3;
					&::before {
						content: attr(data-title) ": ";
						font-weight: 700;
						width: 100%;
					}

					.actions {
						text-align: right;
					}
				}
			}
		}

		&.charitable-donation-summary,
		&.charitable-donation-details {
			tr {
				display: flex;
				justify-content: space-between;
			}
			td, th {
				border: none !important;
			}
		}
	}
}